<md-sidenav id="sidebar-menu" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak>
<md-toolbar class="md-theme-light">
      <md-button class="md-fab md-primary" ng-click="closeSidebar()" md-theme="cyan" id="close-button" aria-label="Profile">
          <i class="icon-tache-01"></i>
      </md-button>
</md-toolbar>
  <md-content>
    <ul>
      <li>
        <md-button class="md-primary">
          <a href="/" >INICIO</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/about-us" >ACERCA DE</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/team" >EQUIPO</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/projects" >PROYECTOS</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="#" >SERVICIOS</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/spacees" >SPACEES</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/awards" >PRENSA</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/blog" >BLOG</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="/contact" >CONTACTO</a>
        </md-button>
      </li>
    </ul>
  </md-content>
</md-sidenav>
