<md-sidenav id="sidebar-menu" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak>
<md-toolbar class="md-theme-light">
      <md-button class="md-fab md-primary" ng-click="closeSidebar()" md-theme="cyan" id="close-button" aria-label="Profile">
          <i class="icon-tache-01"></i>
      </md-button>
</md-toolbar>
  <md-content>
    <ul>
      <li>
        <md-button class="md-primary">
          <a href="#/" >INICIO</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="#/conoce" >CONOCE</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="" ng-click="toSectionWithToken('/caso/', '/reporta')" >REPORTA</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="" ng-click="toggleConoce()">SIGUE</a>
        </md-button>
      </li>
      <li>
        <md-button class="md-primary">
          <a href="" ng-click="toSectionWithToken('/califica/')" >CALIFICA</a>
        </md-button>
      </li>
      <li>
    </ul>
  </md-content>
</md-sidenav>
