<div class="privacidad info-content">
  <md-content class="text-content" layout-align="center center" layout="column">
    <section class="main-content" flex="75" flex-sm="100">
      <div class="main-content-inner container container-md intro">
        <h2>AVISO DE PRIVACIDAD Y MANEJO DE DATOS PERSONALES</h2>
        <p class="main-info">
        <strong>Identidad y domicilio del responsable</strong>
        <br>
        <br>

        Instituto Mexicano para la Competitividad A.C., (<strong>IMCO</strong>) con domicilio en Alfredo de Musset 32, col. Polanco, Delegación Miguel Hidalgo, C.P. 11560, Ciudad de México.

        <br>
        <br>
        <strong>Finalidades del tratamiento de los datos</strong>
        <br>
        <br>

        Los datos personales que nos proporcione son útiles para orientarle y canalizarle con las autoridades educativas correspondientes sobre sus quejas o denuncias de las principales problemáticas cotidianas que se presentan en las escuelas, a efecto de que se le dé el trámite correspondiente en materia de responsabilidades administrativas.
        <br>
        <br>
        <strong>Finalidades adicionales del tratamiento de datos</strong>
        <br>
        </p>
        <ul class="unsorted-list">
          <li>Un registro del reporte de quejas o denuncias</li>
          <li>La medición del uso y mejoramiento del funcionamiento del sitio www.mejoratuescuela.org/ventanillaescolar</li>
          <li>Envíos de correos electrónicos para darle seguimiento a los reportes registrados de sus quejas o denuncias</li>
          <li>Informar las modificaciones del aviso de privacidad</li>
        </ul>
        <p class="main-info">
        En caso de que el titular desee limitar el uso o divulgación de sus datos o no desee que datos personales sean tratados para estos fines adicionales, puede enviar un correo electrónico a contacto@mejoratuescuela.org y hacer la solicitud correspondiente.
        <br>
        <br>
        <strong>La información que recabamos</strong>
        <br>
        </p>
        <ul class="unsorted-list">
          <li>Nombre del titular</li>
          <li>Correo electrónico</li>
          <li>Ocupación</li>
          <li>Dirección de IP</li>
          <li>Información de registro en el servidor</li>
          <li>Comunicación con el titular</li>
          <li>Información de la denuncia como clave de la escuela, tipo de queja o denuncia, proceso de la queja o denuncia y calificación del reporte.</li>
        </ul>
        <p class="main-info">


        <strong>Los medios para ejercer derechos de acceso, rectificación, cancelación u oposición. Derechos ARCO</strong>

        <br>

        <br>


        El titular de los datos podrá solicitar al Responsable en cualquier momento el acceso, rectificación, cancelación u oposición (derechos ARCO), respecto de los datos personales que le conciernen.
        <br>
        <br>


        Para ejercitar cualquiera de los derechos aquí mencionados, deberá usted enviar un correo al contacto a contacto@mejoratuescuela.org con atención a Pablo Clark.
        <br>
        <br>


        Asimismo, si desea limitar el uso o difusión de alguno o algunos de los datos proporcionados, envíe un correo a contacto@mejoratuescuela.org solicitándolo.
        <br>
        <br>
        <strong>Transferencias de datos</strong>

        <br>
        <br>



        El Responsable no transferirá ninguno de sus datos recabados, solamente serán públicos la clave de la escuela, tipo de queja o denuncia, proceso de su queja o denuncia y la calificación del reporte por medio del portal www.mejoratuescuela.org/ventanillaescolar
        <br>
        <br>

        <strong>Modificaciones al aviso de privacidad</strong>
        <br>
        <br>


        El Responsable podrá modificar el presente aviso de privacidad de manera unilateral en la que se comunicará al titular en la página de internet www.mejoratuescuela.org/ventanillaescolar
        <br>
        <br>


        El titular de los datos podrá visitar periódicamente la página antes señalada para revisar las modificaciones a este aviso de privacidad.
        <br>
        <br>


        El presente aviso de privacidad fue elaborado de conformidad con la Ley Federal Protección de Datos Personales en Posesión de Particulares. Por tanto, no se viola ningún derecho a los usuarios que al momento de ingresar sus datos al sitio www.mejoratuescuela.org/ventanillaescolar  otorgan su pleno consentimiento a los fines antes descritos.

        </p>

      </div>
    </section>
  </md-content>
</div>
