<div id="califica">
  <div class="title" layout="column" layout-align="center center" layout-padding>
    <h2>CALIFICA</h2>
    <p>Te permite dar tu opinión sobre la atención<br>que te brindaron las autoridades.</p>
  </div>

  <div layout="row" layout-align="center center" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div layout="row" layout-align="center center" ng-show="success">
    <h3>Enviado correctamente</h3>
  </div>
  <div class="content" ng-show="!loading && !success">

    <p class="sub">
      Califica la atención que recibiste para resolver tu queja seleccionando
      <br>
      en cada pregunta una calificación del 1 al 10. Tus respuestas nos ayudarán a
      <br>
      brindarle un mejor apoyo a otras personas que se enfrenten a la misma problemática.

    </p>

    <div layout="row" layout-align="space-between center" flex="100" layout-wrap layout-fill>
      <div class="check" flex="50" flex-sm="100" layout-align="center"  ng-repeat="question in questions">
        <div id="{{question.sys.id}}" class="head" layout="row">
          <div class="h-icon">
            <i class="fa fa-check fa-2x" aria-hidden="true"></i>
          </div>
          <div>
            <p>{{question.fields.title}}</p>
          </div>
        </div>
        <div class="question-box">
          <p class="question">{{question.fields.text}}</p>
          <p class="range">
            1 = "{{question.min || 'Mal'}}"
            <br>
            10 = "{{question.max || 'Bien'}}"
          </p>
          <p class="circles" layout="row" layout-align="center">
            <span ng-class="['circle', {marked: ($index+1)==question.mark }]"  ng-repeat="n in [].constructor(10) track by $index" ng-click="question.mark = ($index + 1); sumTotal();"> {{$index+1}}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="sum" layout="row" layout-align="center center">
      <p  flex="70">En promedio tu calificas la atención con:</p>
      <p class="res" flex="30"> {{total}}</p>
    </div>

    <form class="msg" ng-submit="score()">
      <div layout="row">
        <div class="m-icon" flex="10">
          <i class="fa fa-comment fa-fw fa-3x fa-flip-horizontal" aria-hidden="true"></i>
        </div>
        <textarea ng-model="comment.text" flex="90" placeholder="Opcionalmente, deja un comentario sobre la información y la página de Ventanilla Escolar"></textarea>
      </div>
      <p layout="row" layout-align="center center">
        <input class="submit" flex="30" type="submit" value="Enviar calificación">
      </p>
    </form>

  </div>


</div>
