<div id="califica-empty">
  <mail-sign-in class="mail-signup-modal-home" close-option="true" close-option-cb="closeMailForm()" ng-show="toggleMailSignIn"></mail-sign-in>

  <div class="user-actions container container-smd center-content" layout="row">
    <div class="user-action" flex="50">
      <p><strong>Comienza tu reporte</strong></p>
      <div class="action-btn-wrap">
        <a href="#/conoce" class="action-btn">Comenzar</a>
      </div>
    </div>
    <div class="user-action user-action-alt" flex="50">
      <p><strong>¿Ya iniciaste tu reporte?</strong></p>
      <div class="action-btn-wrap">
        <a ng-click="toggleMailSignIn = true" href="" class="action-btn">Continuar con él</a>
      </div>
    </div>
  </div>
</div>
