<md-content>
  <div class="title-section container center-content">
    <div class="container-md">
      <h1>{{caso.dType.fields.title}}</h1>
      <h2>Te proporcionamos los pasos necesarios para resolver tu caso de <span>Bullying</span></h2>
    </div>
  </div>

  <section layout="row" layout-sm="column">
    <!--ACTION BAR-->
    <section class="action-bar" flex="25" flex-sm="100">
      <div class="action-bar-inner container center-content">
        <h2>Tus acciones</h2>

        <div class="action-item" ng-class="{'action-item-active' : caso.state.stepNumber === state.number}" ng-repeat="state in caso.tiposDenuncia.getHistory()">
          <p>
            <strong ng-bind="state.number"></strong>
             <strong ng-bind="state.title"></strong>
           </p>
          <p>{{::state.date | date:'dd/MM/yyyy'}}</p>
          <!--<p class="action-item-desc">Te acercaste con el director y "No, no lo he resuleto".</p>-->
        </div>

      </div>
    </section>
    <!--END ACTION BAR-->

    <section class="main-content" flex="75" flex-sm="100">
      <div class="main-content-inner container container-md">
        <div class="intro center-content">
          <h3>Paso <span class="num-wrap"><span ng-bind="caso.state.stepNumber"></span></span></h3>
          <div btf-markdown='caso.state.content'></div>
        </div>

        <div ng-if="caso.state.showSchool && caso.school" class="school-info" layout="row" layout-sm="column">
          <div class="school-info-item" flex="50" flex-sm="100">
            <div class="school-info-item-inner" layout="row" layout-align="center center">
              <div flex><i class="icon-escuela"></i></div>
              <div flex="80">
                <p><strong>{{::caso.school.nombre}}</strong></p>
                <p>Nivel {{::caso.school.nom_nivel}}</p>
              </div>
            </div>
          </div>
          <div class="school-info-item" flex="50" flex-sm="100">
            <div class="school-info-item-inner" layout="row" layout-align="center center">
              <div flex><i class="icon-director"></i></div>
              <div flex="80">
                <p><strong>Director:</strong></p>
                <p><strong>José Manuel Pérez Lopéz</strong></p>
                <p>Nivel {{::caso.school.nom_nivel}}</p>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="caso.state.showSchool" class="report-section center-content" ng-if='caso.state.options'>
          <p >Si ya te has acercado con el director diálogado con él, pero aun asi no se ha solucionado la situación de acoso escolar o bullying, entonces debes proceder a levantar un reporte o denuncia.</p>
          <h4>Si ya te has acercado con el director de tu plantel, cuentanos que sucedio:</h4>
        </div>

        <div class="report-section-btns center-content">
          <a href="" ng-repeat='(key,action) in caso.state.options' ng-click='caso.userChoice(key)' ng-bind="action" class="action-btn"></a>
        </div>

        <div class="report-section center-content" ng-if='caso.state.form'>
          <md-input-container ng-repeat='field in caso.state.form.fields'>
            <label ng-bind='field.label'></label>
            <input type='text' ng-if='field.type == "text"' />
            <textarea ng-if='field.type == "textarea"'></textarea>
          </md-input-container>
          <p class="report-section-btns">
            <a href="" ng-click='formSubmit(caso.state.form.method,0) && toConoce()' class="action-btn">Enviar</a>
          </p>
        </div>

        <div class="alert-msg center-content">
          <p><strong>¿La información que aparece aquí está incompleta o equivocada?</strong></p>
          <a href="#" class="action-btn">Háznoslo saber</a>
        </div>

      </div>

      <div class="footer-msg center-content container container-md">
        <img src="/images/logo_mejora.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nulla magnam laudantium assumenda aliquam voluptatem doloribus, autem expedita optio, odio porro quos quasi consequatur necessitatibus cumque deleniti ipsum. Minus, dignissimos.</p>
      </div>

    </section>

  </section>

</md-content>

