<md-content>
  <div class="title-section container center-content">
    <div class="container-md">
      <h2>Te proporcionamos los pasos necesarios para resolver tu caso de <span>Bullying</span></h2>
    </div>
  </div>

  <section layout="row" layout-sm="column">
    <!--ACTION BAR-->
    <section class="action-bar" flex="25" flex-sm="100">
      <div class="action-bar-inner container center-content">
        <h2>Tus acciones</h2>

        <div class="action-item" ng-repeat="state in tiposDenuncia.history()">
          <p>
            <strong ng-bind="state.number"></strong>
             <strong ng-bind="state.title"></strong>
           </p>
          <p>{{currDate}}</p>
          <!--<p class="action-item-desc">Te acercaste con el director y "No, no lo he resuleto".</p>-->
        </div>
        <!--<div class="action-item">
          <p><strong>Acercarte con el director</strong></p>
          <p>22 marzo 2015</p>
          <p class="action-item-desc">Te acercaste con el director y "No, no lo he resuleto".</p>
        </div>

        <div class="action-item">
          <p><strong>Realizar tu reporte en la línea de atención telefónica</strong></p>
          <p>22 marzo 2015</p>
          <div class="alert">
            <p>El plazo para que esta denuncia se canalizada se cumplio el 12/09/2015</p>
          </div>
          <p class="action-item-desc">Ya se ha resuelto la situación</p>
        </div>-->


      </div>
    </section>
    <!--END ACTION BAR-->

    <section class="main-content" flex="75" flex-sm="100">
      <div class="main-content-inner container container-md">
        <div class="intro center-content">
          <h3>Paso <span class="num-wrap"><span ng-bind="state.stepNumber"></span></span></h3>
          <div btf-markdown='state.content'></div>
        </div>

        <div ng-if="state.showSchool" class="school-info" layout="row" layout-sm="column">
          <div class="school-info-item" flex="50" flex-sm="100">
            <div class="school-info-item-inner" layout="row" layout-align="center center">
              <div flex><i class="icon-escuela"></i></div>
              <div flex="80">
                <p><strong>Octavio Paz Lozano</strong></p>
                <p>Nivel primaria</p>
              </div>
            </div>
          </div>
          <div class="school-info-item" flex="50" flex-sm="100">
            <div class="school-info-item-inner" layout="row" layout-align="center center">
              <div flex><i class="icon-director"></i></div>
              <div flex="80">
                <p><strong>Director:</strong></p>
                <p><strong>José Manuel Pérez Lopéz</strong></p>
                <p>Nivel primaria</p>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="state.showSchool" class="report-section center-content" ng-if='state.options'>
          <p >Si ya te has acercado con el director diálogado con él, pero aun asi no se ha solucionado la situación de acoso escolar o bullying, entonces debes proceder a levantar un reporte o denuncia.</p>
          <h4>Si ya te has acercado con el director de tu plantel, cuentanos que sucedio:</h4>
        </div>

        <div class="report-section-btns center-content">
          <a href="" ng-repeat='(key,action) in state.options' ng-click='userChoice(key)' ng-bind="action" class="action-btn"></a>
        </div>

        <div class="report-section center-content" ng-if='state.form'>
          <md-input-container ng-repeat='field in state.form.fields'>
            <label ng-bind='field.label'></label>
            <input type='text' ng-if='field.type == "text"' />
            <textarea ng-if='field.type == "textarea"'></textarea>
          </md-input-container>
          <p class="report-section-btns">
            <a href="" ng-click='formSubmit(state.form.method,0)' class="action-btn">Enviar</a>
          </p>
        </div>
      </div>

      <div class="footer-msg center-content container container-md">
        <img src="/images/logo_mejora.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nulla magnam laudantium assumenda aliquam voluptatem doloribus, autem expedita optio, odio porro quos quasi consequatur necessitatibus cumque deleniti ipsum. Minus, dignissimos.</p>
      </div>

    </section>

  </section>

</md-content>

<!--
<md-sidenav layout-fill class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Historial</h1>
  </md-toolbar>
  <md-list>
      <md-list-item class="md-3-line" ng-repeat="state in tiposDenuncia.history()">
        <div class="md-list-item-text">
          <h3 ng-bind='state.number'></h3>
          <h4 ng-bind='state.title'></h4>
        </div>
        <md-divider ></md-divider>
      </md-list-item>
    </md-list>
</md-sidenav>
<md-content class='md-padding' layout-fill>
  <md-card>
    <md-card-content>
      <div btf-markdown='state.content' ></div>
      <md-input-container ng-repeat='field in state.form.fields'>
        <label ng-bind='field.label'></label>
        <input type='text' ng-if='field.type == "text"' />
        <textarea ng-if='field.type == "textarea"'></textarea>
      </md-input-container>
    </md-card-content>
    <div class="md-actions" layout="row" layout-wrap layout-align="end center">
      <md-button ng-if='state.options' ng-repeat='(key,action) in state.options' ng-click='userChoice(key)' ng-bind='action' aria-label='action'></md-button>
      <md-button ng-if='state.form' ng-click='formSubmit(state.form.method,0)' aria-label='enviar'>Enviar</md-button>
    </div>
  </md-card>
</md-content>
-->
