<md-toolbar class='toolbar-head md-tall'>
  <div class="md-toolbar-tools container container-xlg nopadding" layout-wrap layout-align="space-between center" layout='row' layout-sm="column">

      <!--<div id="button-menu-mobile" ng-click="toggleSidebar()" flex="10" flex-gt-md="30">
        <hr><hr><hr>
      </div>-->

      <a href="/" class='logo' flex='30' flex-sm='50' >
        <h1><strong>Tuberia</strong> de denuncias</h1>
      </a>

      <div class="menu-wrapper" flex="50" flex-sm="30" >
        <nav class="menu" >
          <ul layout="row">
            <li flex="25" class="menu-item conoce-item">
              <a href="#" class="absolute-link"></a>
              <span>CONOCE</span>
            </li>
            <li flex="25" class="menu-item reporta-item">
              <a href="#" class="absolute-link"></a>
              <span>REPORTA</span>
            </li>
            <li flex="25" class="menu-item sigue-item">
              <a href="#" class="absolute-link"></a>
              <span>SIGUE</span>
            </li>
            <li flex="25" class="menu-item califica-item">
              <a href="#" class="absolute-link"></a>
              <span>CALIFICA</span>
            </li>
          </ul>
        </nav>
      </div>

      <div class="login-wrap">
        <a href="#" class="action-btn">Iniciar sesión</a>
      </div>

  </div>
</md-toolbar>
