<md-content class=''>

  <div class="title-section container center-content">
    <div class="container-md">
      <h2>Ventanilla Escolar de MejoraTuEscuela.org es una herramienta de orientación para solucionar problemas cotidianos en las escuelas.</h2>
      <p>
      Te guía con la información que necesitas para hacer llegar tu denuncia a las autoridades correspondientes y te ayuda a darle seguimiento mediante un reporte en el sitio.
      <br>
      <strong>Los tres pasos de la herramienta son:</strong></p>

      <div 
        layout="row" 
        layout-wrap 
        class="features"
      >
        <div flex="33" flex-sm="100" class="feature">
          <div class="feature-inner feature-one">
            <span class="feature-background">1</span>
            <p>
              <a href="#/conoce" class="wow zoomIn" data-wow-duration="0.4s">
                <i class="icon-tuberia"></i>
              </a>
            </p>
            <h4><a href="#/conoce">Infórmate</a></h4>
            <p>Conoce la información que debes saber antes de presentar una denuncia.</p>
          </div>
        </div>
        <div flex="33" flex-sm="100" class="feature">
          <div class="feature-inner feature-two">
            <span class="feature-background">2</span>
            <p class="wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.4s">
              <i class="icon-reporta"></i>
            </p>
            <h4>Reporta</h4>
            <p>Encuentra la información para resolver paso a paso tu denuncia</p>
          </div>
        </div>
        <div flex="33" flex-sm="100" class="feature">
          <div class="feature-inner feature-three">
            <span class="feature-background">3</span>
            <p class="wow zoomIn" data-wow-duration="0.4s" data-wow-delay="0.8s">
              <i class="icon-califica" ></i>
            </p>
            <h4>Califica</h4>
            <p>Dinos tu opinión sobre la atención que recibiste</p>
          </div>
        </div>
      </div>

      <!--<div class="container-xsm">
        <form class="school-search" id="simple_search">
          <div class="input-field">
            <md-autocomplete
                md-search-text-change=""
                md-selected-item="home.selectedSchool"
                md-selected-item-change="home.selectedSchoolChange(school)"
                md-search-text="home.searchTerm"
                md-items="school in home.getSchools(home.searchTerm)"
                md-item-text="school.nombre + ' (' +  school.nom_nivel + ')'"
                md-min-length="1"
                md-floating-label="Busca una escuela">
              <md-item-template>
                <strong>{{school.nombre}}</strong> <strong>({{school.nom_nivel}})</strong>
                <p><span>{{school.nom_localidad}} , {{school.nom_entidad}}</span></p>
              </md-item-template>
              <md-not-found>
                No se encontraron resultados.
              </md-not-found>
            </md-autocomplete>
          </div>
        </form>
      </div>-->

    </div>

    <div ng-if="home.selectedSchool" class="container-xlg report-select" layout="row" layout-align="space-between center">

      <!--Tipos de denuncia-->
      <div
        ng-repeat="type in home.tiposDenunciaList | denunciaFilter:home.selectedSchool.control track by $index"
        flex
        class="report-select-item">
        <p>
          <a ng-if="!home.icons[type.fields.slug]" ng-href="caso/{{type.fields.slug}}">
            <i class="icon-escuela"></i>
          </a>
          <a ng-if="home.icons[type.fields.slug]" ng-href="caso/{{type.fields.slug}}">
            <i class="icon-{{ home.icons[type.fields.slug] }}"></i>
          </a>
        </p>
        <p>
          <a class="report-select-item-btn" href="" ng-click="home.startReport(type.fields.slug)">
            <strong ng-bind="type.fields.label"></strong>
          </a>
        </p>
      </div>
      <!--End tipos de denuncia-->

    </div>

  </div>

  <mail-sign-in class="mail-signup-modal-home" close-option="true" close-option-cb="home.closeMailForm()" ng-show="home.toggleMailSignIn"></mail-sign-in>

  <div class="user-actions container container-smd center-content" layout="row">
    <div class="user-action" flex="50">
      <p><strong>Comienza tu reporte</strong></p>
      <div class="action-btn-wrap">
        <a href="#/conoce" class="action-btn">Comenzar</a>
      </div>
    </div>
    <div class="user-action user-action-alt" flex="50">
      <p><strong>¿Ya iniciaste tu reporte?</strong></p>
      <div class="action-btn-wrap">
        <a ng-click="home.toggleMailSignIn = true" href="" class="action-btn">Continuar con él</a>
      </div>
    </div>
  </div>

</md-content>
