<div class="preguntas info-content">
  <md-content class="text-content" layout-align="center center" layout="column">
    <section class="main-content" flex="75" flex-sm="100">
      <div class="main-content-inner container container-md intro">
        <h2>Preguntas frecuentes</h2>
        <p class="main-info">

        <strong>1.- ¿Para qué sirven los reportes de Ventanilla Escolar?</strong>
        <br>

        Los reportes de Ventanilla Escolar sirven para orientar a los miembros de las escuelas con información sobre qué autoridad es la responsable de atender su denuncia y cuál es el procedimiento para realizarla. Los reportes funcionan como un expediente, para que puedas regresar más adelante y continuar con tu trámite donde te quedaste.
        <br>

        Además, nos permiten saber qué tipo de denuncias son las más comunes en las escuelas y qué tanto se resuelven, brindándonos información importante para mejorar el sistema educativo del país.

        <br>
        <br>

        <strong>2.- ¿Ventanilla Escolar va a hacer llegar mi queja ante las autoridades?</strong>
        <br>

        No,  los reportes de Ventanilla Escolar son sólo internos a este sitio. Para presentar una queja o denuncia ante las autoridades, te debes comunicar directamente con las oficinas encargadas, utilizando la información que Ventanilla Escolar te proporciona.
        <br>
        <br>

        <strong>3.- ¿De dónde se obtiene la información de este sitio?</strong>
        <br>
        Toda la información que Ventanilla Escolar presenta se obtuvo de fuentes oficiales. Además se está complementando con información que nos reportan nuestros usuarios.
        <br>
        <br>

        <strong>4.- La información para presentar una queja está mal o incompleta, ¿qué puedo hacer?</strong>
        <br>

        Si la información que Ventanilla Escolar presenta sobre el proceso para resolver una queja o denuncia no está correcta o está incompleta, es importante que nos lo hagas saber enviando un correo a:

        <br>
        Por favor avísanos sobre cualquier información que falte en el sitio o que no esté completa, así podremos mantener la plataforma lo más actualizada posible.

        <br>
        <br>
        <strong>5.- ¿Por qué el sitio sólo incluye estos tipos de denuncias y estos estados?</strong>
        <br>
        Por el momento, Ventanilla Escolar funciona en una versión de prueba. Estamos trabajando para expandir la información que tenemos a más tipos de denuncias y a más estados.

        </p>

      </div>
    </section>
  </md-content>
</div>
