<div class="preguntas info-content">
  <md-content class="text-content" layout-align="center center" layout="column">
    <section class="main-content" flex="75" flex-sm="100">
      <div class="main-content-inner container container-md intro">
        <h2>Preguntas frecuentes</h2>
        <p class="main-info">

        <strong>1.- ¿Cómo funciona Ventanilla Escolar?</strong>
        <br>
          Ventanilla Escolar reúne información para ayudarte a hacer llegar denuncias de problemáticas escolares a las autoridades que te pueden apoyar para resolverlas.  Para consultar la información comienza un reporte siguiendo estos pasos:
        </p>
          <ul class="unsorted-list">
            <li>Haz click en Comenzar Tu Reporte                       </li>
            <li>Encuentra tu escuela utilizando el buscador de escuelas</li>
            <li>Ingresa tus datos                                      </li>
            <li>Selecciona el tipo de problemática del que se trata</li>
          </ul>

        <p class="main-info">

         Al comenzar tu reporte, verás paso por paso qué puedes hacer para resolver tu denuncia. Tu reporte quedará almacenado en el sitio, para que regreses más adelante y continues con tu trámite donde te quedaste.


        <br>
        <br>

        <strong>2.- ¿Ventanilla Escolar va a hacer llegar mi queja ante las autoridades?</strong>
        <br>
          No,  los reportes de Ventanilla Escolar son sólo internos a este sitio. Para presentar una queja o denuncia ante las autoridades, te debes comunicar directamente con las oficinas responsables, utilizando la información que Ventanilla Escolar te proporciona.
        <br>
        <br>


        <strong>3.- ¿Para qué sirven los reportes de Ventanilla Escolar?</strong>
        <br>
        Los reportes de Ventanilla Escolar te orientan con información sobre qué autoridad es la responsable de atender tu denuncia y cuál es el procedimiento para realizarla. Tu reporte es como un expediente, con él puedes regresar más adelante y continuar con tu trámite donde te quedaste.

        <br>

        Además, tus reportes nos ayudan a saber qué tipo de denuncias son las más comunes en las escuelas y qué tanto se resuelven, brindándonos información importante para mejorar el sistema educativo del país.

        <br>
        <br>

        <strong>4.- ¿Mi reporte será público? </strong>
        <br>
          No, solamente tú puedes ver tu reporte y la información que nos has dado.

        <br>
        <br>

        <strong>5.- ¿De dónde se obtiene la información de este sitio?</strong>
        <br>
        Toda la información que Ventanilla Escolar presenta se obtuvo de fuentes oficiales, mediante la revisión de sitios web, documentos oficiales y contacto directo vía telefónica. La información del sitio también se está verificando y complementando con lo que nos reportan quienes usan el sitio, para siempre ofrecerte información actualizada y útil.

        <br>
        <br>

        <strong>6.- La información para presentar una queja está mal o incompleta, ¿qué puedo hacer?</strong>
        <br>

Si la información que Ventanilla Escolar presenta no está correcta o está incompleta, es importante que nos lo hagas saber y nos pidas que se corrija por medio de una solicitud.

  <br>

Tu participación es muy importante para mantener la plataforma lo más actualizada y útil posible.
        <br>

        <br>
        <br>
        <strong>7.- ¿Por qué el sitio sólo incluye estos tipos de denuncias y estos estados?</strong>
        <br>
        Por el momento, Ventanilla Escolar funciona en una versión de prueba. Estamos trabajando para expandir la información que tenemos a más tipos de denuncias y a más estados.

        </p>

      </div>
    </section>
  </md-content>
</div>
