<div class="quienes-somos info-content">
  <md-content class="text-content" layout-align="center center" layout="column">
    <section class="main-content" flex="75" flex-sm="100">
      <div class="main-content-inner container container-md intro">
        <h2>¿Quiénes somos?</h2>
        <p class="main-info">
        Ventanilla Escolar de MejoraTuEscuela.org es una herramienta de orientación para solucionar problemas cotidianos en las escuelas.
        <br>
        <br>
        Guía a miembros de las comunidades escolares que quieran presentar alguna denuncia ante las autoridades educativas, ayudándoles, mediante la realización de un reporte, a encontrar quien es el responsable de atenderlos y brindarles la información necesaria para resolver su queja.

        <br>
        <br>

        Ventanilla Escolar no es parte del proceso formal de denuncias ni tampoco es un sustituto para ello. Los reportes realizados con esta herramienta son sólo con fines de orientación y son internos a este sitio.
        <br>
        <br>

        MejoraTuEscuela.org es una iniciativa ciudadana, independiente y sin fines de lucro. Nuestro equipo está integrado por miembros del Instituto Mexicano para la Competitividad A.C. (IMCO) con apoyo de la fundación Omidyar Network y de US-Mexico Foundation (USMF).
        <br>
        <br>


        <span class="center-text">¡Gracias!</span>
        <br>
        Para más información comunícate a los teléfonos del IMCO con el equipo de Mejora Tu Escuela al (55) 5985-1017 al 19, extensión 122.
        </p>

        <div layout="row" layout-wrap class="logos" layout-align="space-between center">
          <img class="usmf" src="images/usmf.png" alt="">
          <img class="omi" src="images/omi.png" alt="">

          <img class="imco" src="images/imco.png" alt="">
        </div>

      </div>
    </section>
  </md-content>
</div>
